@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-width: 500px;
    font-family: 'Poppins', sans-serif;
}

.heading {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    height: 50px;
    align-items: stretch;
}

.heading h2 {
    color: white;
}

.footer {
    padding: 10px;
    width: 100%;
    background: transparent;
    text-align: right;
}