@mixin btnTransparent {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    outline: none;
    margin: 10px 0 0 0;
    font-size: 20px;

    :active {
        color: grey;
    }
}

.translator {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    .translator-title {
        font-size: 14px;
    }

    textarea {
        padding: 20px;
        width: 100%;
        margin: 10px 0 0 0;
        border-radius: 10px;
        min-height: 150px;
        outline: none;
        resize: vertical;
        font-size: 18px;
    }

    .fromLanguage {
        display: flex;
        position: relative;
        line-height: 1.5;

        button {
            @include btnTransparent;
        }

    }

    .toLanguage {
        display: flex;
        position: relative;
        line-height: 1.5;

        button {
            @include btnTransparent;
        }
    }
}

.btns {
    display: flex;
    flex-direction: column;
}