@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 20px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

.btns {
    display: flex;
    
}